<div class="container my-5">
  <h2>Coming Soon: More Features</h2>
  <p>This item hasn't been started. Investigate project order and fix if needed.</p>

  <hr />

  <p>Click a value to filter the view</p>

  <!-- Example of a "task list" style layout -->
  <div class="my-3">
    <h5>Assignees: Obi-Wan-Pierogi</h5>
    <p><strong>Obi-Wan-Pierogi:</strong> Register form <span class="badge bg-secondary">L</span></p>
  </div>

  <div class="my-3">
    <h5>Implement Wireframes For Project Detail Page</h5>
    <p><span class="badge bg-secondary">M</span></p>
  </div>

  <div class="my-3">
    <h5>Assignees: MagShadowLight</h5>
    <p><strong>MagShadowLight:</strong> Clean up Angular tests so that all pass</p>
    <p>Map project tag array down to array of plain strings <span class="badge bg-secondary">0</span></p>
    <p><span class="badge bg-secondary">M</span></p>
  </div>

  <div class="my-3">
    <h5>Change Tag-Edit Route <span class="badge bg-secondary">M</span></h5>
    <p>Make Edit Button Auto-Populate Form in Edit-Tags <span class="badge bg-secondary">S</span></p>
    <p><span class="badge bg-secondary">L</span></p>
  </div>
</div>
